<div class="row">
    <div class="col-md-12 col-xs-12">
        <h1>Summary</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h3>Throughput</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <span class="stat-value">{{throughput}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h3>Total Requests</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <span class="stat-value">{{total_requests}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h3>Number of errors</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <span class="stat-value">{{number_of_errors}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h3>Availability</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <span class="stat-value">{{availability}}</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h3>Total Bytes Sent</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <span class="stat-value">{{bytes_sent}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h3>Total Bytes Received</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <span class="stat-value">{{bytes_received}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h3>Min Latency</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <span class="stat-value">{{min_latency}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h3>Mean Latency</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <span class="stat-value">{{mean_latency}}</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h3>Max Latency</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <span class="stat-value">{{max_latency}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h3>Min Bytes Received</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <span class="stat-value">{{min_bytes_received}}</span>
            </div>
        </div>
    </div>
</div>
