<div class="row">
    <div class="col-md-6 col-xs-12">
        <h2>Throughput</h2>
        <div class="graph" data_items="throughput" throughput="{{throughput}}"></div>
    </div>
    <div class="col-md-6 col-xs-12">
        <h2>Total Bytes</h2>
        <div class="graph" data_items="bytes_sent,bytes_received" bytes_sent="{{bytes_sent}}" bytes_received="{{bytes_received}}"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <h2>Bytes Sent</h2>
        <div class="graph" data_items="max_bytes_sent,min_bytes_sent" max_bytes_sent="{{max_bytes_sent}}" min_bytes_sent="{{min_bytes_sent}}"></div>
    </div>
    <div class="col-md-6 col-xs-12">
        <h2>Bytes Received</h2>
        <div class="graph" data_items="max_bytes_received,min_bytes_received" max_bytes_received="{{max_bytes_received}}" min_bytes_received="{{min_bytes_received}}"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <h2>Total Requests</h2>
        <div class="graph" data_items="total_requests" total_requests="{{total_requests}}"></div>
    </div>
    <div class="col-md-6 col-xs-12">
        <h2>Errors</h2>
        <div class="graph" data_items="errors" errors="{{errors}}"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <h2>Latency</h2>
        <div class="graph" data_items="min_latency,max_latency,mean_latency,stddev_latency" min_latency="{{min_latency}}" max_latency="{{max_latency}}" mean_latency="{{mean_latency}}" stddev_latency="{{stddev_latency}}"></div>
    </div>
    <div class="col-md-6 col-xs-12">
    </div>
</div>
