<div class="row">
    <div class="col-md-12 col-xs-12">
        <h2>Total Bytes</h2>
    </div>

    <div class="graph" data_items="bytes_sent,bytes_received" bytes_sent="{{bytes_sent}}" bytes_received="{{bytes_received}}"></div>
</div>
